
.menu
  background: #B0C4DE;
  text-align: center;
  font-size: 1.5em;

.li1
    padding: 1em;
    display: inline-block

.ini
    align-left
    display: inline-block
.navbar-soppe{
    background:#6A1B9A;
    border-color:#6A1B9A;
    color:#ffffff;
    border-radius:0px;
}
.navbar-soppe-titulo{
    color: red;
}
.navbar-soppe-titulo:hover{
  color:#ffffff;
}
.icon-headerMenu,.icon-headerMenu-verde{
  margin-right:3px;
  padding:8px;
  background:#0D47A1;
  border-radius:100%;
  box-shadow: 2px 1px 19px -4px black;
}
.mainmenu-titulo:hover{
 background:#0277BD;
}
.MainMenuIten:hover{
 background:#0277BD;
}
.icon-headerMenu-verde{
 background:#1B5E20 ;
}
.soppe-verde:hover{
 background:#2E7D32;
}
