<h1>REGISTRO EMPRESA</h1>
<div class="contenedor-formulario">
  <div class="wrap">
    <div layout="column" ng-cloak>
         <md-content layout-padding>
 <form action="" class="formulario" name="formulario_registro" method="get">
       <div>
    <!--     <md-input-container class="md-block">
                        <label>Id Empresa</label>
                        <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.idEmpresa">
                        <div ng-messages="formulario_registro.nombre.$error">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
                        </div>
          </md-input-container>-->
					<md-input-container class="md-block">
												 <label>Nombre</label>
												 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.nombre">
												 <div ng-messages="formulario_registro.nombre.$error">
														 <div ng-message="required">Este campo es requerido.</div>
														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
												 </div>
					 </md-input-container>
	 					<md-input-container class="md-block">
	 												 <label>Dirección</label>
	 												 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.dirreccion">
	 												 <div ng-messages="formulario_registro.nombre.$error">
	 														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
	 												 </div>
	 					 </md-input-container>
		 					<md-input-container class="md-block">
		 												 <label>Teléfono</label>
		 												 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.telefono">
		 												 <div ng-messages="formulario_registro.nombre.$error">
		 														 <div ng-message="required">Este campo es requerido.</div>
		 														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
		 												 </div>

		 					 </md-input-container>
							 <md-input-container class="md-block">
										 <label>Email</label>
											 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.email">
											 <div ng-messages="formulario_registro.nombre.$error">
													 <div ng-message="required">Este campo es requerido.</div>
														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
															 </div>
 									 </md-input-container>
							<md-input-container class="md-block">
																	 <label>Nit</label>
																		 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.nit">
																		 <div ng-messages="formulario_registro.nombre.$error">
							 														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
										 												 </div>
		 					 </md-input-container>
							 <md-input-container class="md-block">
										 <label>Razón Comercial</label>
											 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.razonComercial">
											 <div ng-messages="formulario_registro.nombre.$error">
													 <div ng-message="required">Este campo es requerido.</div>
														 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
															 </div>
 									 </md-input-container>

									 <md-input-container class="md-block">
												 <label>Div</label>
													 <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.empresa.numDiv">
													 <div ng-messages="formulario_registro.nombre.$error">
															 <div ng-message="required">Este campo es requerido.</div>
																 <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
																	 </div>
												 </md-input-container>
                         <md-input-container class="md-block">
                              <label>id usuario</label>
                                <input md-maxlength="40" required md-no-asterisk name="nombre" ng-model="vm.idUsuario.numDiv">
                                <div ng-messages="formulario_registro.nombre.$error">
                                    <div ng-message="required">Este campo es requerido.</div>
                                      <div ng-message="md-maxlength">El nombre no puede superar 40 caracteres.</div>
                                        </div>
                              </md-input-container>


					<input type="button" id="btn-submit" value="Enviar" ng-click="vm.create()">
				</div>
      </form>
      </md-content>
      </div>

      </div>
      </div>
